/* Обратите внимание, что названия шрифта при подключении должны соответствоать тому, как шрифты указаны в Google Fonts. То есть одно название, разный вес и стиль. Если что-то случится с локальными шрифтами, сработают удаленные. */
@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}

/* Здесь используется более элегантный способ прижать футер, чем тот, на который у вас была ссылка. Кроме последних трех свойств для body нужно задать только flex-grow: 1 для main и всё. Разметку при этом трогать не нужно. */
.page {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Main Sections */
/* По БЭМу да и вообще не рекомендуется так объединять селекторы. В данном случае я уверен, что ничего не поменяется. Но в реальности так не бывает:) */
.intro,
.services,
.feature,
.team,
.subscribe,
.get-in-touch__body,
.footer__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

.page__content {
	flex-grow: 1;
}

h2 {
	color: #585858;
	/* Хотя в макете цвет текста заголовков и других элементов достигается прозрачностью, в браузере такое значение даст другой результат. Другой вариант: взять цвет в фотошопе пипеткой. */
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	text-transform: uppercase;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.75;
}

.page__header_grey {
	background-color: #e0e0e0;
}

.page__intro_grey {
	background-color: #e0e0e0;
}

.header__line {
	width: 122px;
	height: 3px;
	background-color: #ff2d2d;
	border: none;
}

/* Header */
.header {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	max-width: 1249px;
	margin: 0 auto;
	min-height: 89px;
	background-color: #000000;
}

.page__header {
	padding-top: 29px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	list-style: none;
	padding: 0;
	margin: 0;	
	margin-left: -20px;
	/* Сдвигать элементы можно не только позиционированием, но и отрицательными отступами. В каких случаях, что использовать читайте по ссылке https://www.smashingmagazine.com/2009/07/the-definitive-guide-to-using-negative-margins/ */
}

.menu__item {
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
}

.menu__item:hover {
	background-color: #ff3f40;
}

.menu__link {
	display: flex;
	align-items: center;
	padding: 0 30px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

/* Intro */
.intro {
	background-color: #e0e0e0;
	padding-top: 103px;
	padding-bottom: 94px;
}

.intro__content {
	position: relative;
    bottom: 11px;
	width: 617px;
	margin-bottom: 20px;
	margin-right: 75px;
}

.intro__heading {
	margin: 0;
	font-size: 60px;
	line-height: 1.2;
	/* Чтобы высота строки оставалась пропорциональной разному размеру шрифта, можно указать ее без единиц измерения. Тогда она бужет зависеть от размера шрифта. */
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;
	/* Свойство letter-spacing позволяет изменить межбуквенное расстояние. */
}

.intro__heading_style {
	letter-spacing: 6px;
	word-break: break-word;
	hyphens: auto;
	/* Свойство word-break заставляет слова переноситься по буквам, если они не помещаются в родительский элемент.
	Свойство hyphens добавляет дефис в месте переноса (может работать не во всех браузерах) */
}

.intro__text {
	max-width: 520px;
	margin-bottom: 51px;
	opacity: 0.7; 
}

.action-button {
	box-sizing: border-box;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 227px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.action-button_red {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	background-color: #ff2d2d;
}

.intro__image {
	width: 551px;
	height: 356px;
	box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
	/* Свойство box-shadow позволяет создать тень бокса. Первые два значения - смещение по горизонтали и вертикали. Третье - размытие. Четвертое - распространение. Пятое цвет. */
}

/* Services */
.services {
	padding-top: 106px;
	padding-bottom: 53px;
	border-bottom: 1px solid #ececec;
}

.services__lead {
	flex: 1 1 502px;
	/* Свойство flex совмещает в себе три свойства grow, shrink и basis. Первые два позволяют сказать, что флекс элемент может расширятсья и сжиматься. Третье задает базовую ширину, которая расчитывается до всего остального */
	max-width: 502px;
	margin-bottom: 50px;
	margin-right: 50px;
}

.services__heading {
	position: relative;
    bottom: 5px;
	margin-bottom: 27px;
}

.services__text {
	margin-bottom: 51px;
}

.action-button_white {
	font-size: 15px;
	color: #ff3f40;
	background-color: #ffffff;
	border: 2px solid #ff3f40;
}

.services__blocks {
	flex: 1 1;
	max-width: 609px;
	display: flex;
	flex-wrap: wrap;
}

.service {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 50px;
}

.service:nth-child(odd) {
	margin-right: 32px;
}

.service__heading {
	letter-spacing: 1.5px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 10px;
}

.service__heading::before {
	display: block;
	width: 41px;
	height: 41px;
	margin-bottom: 23px;
}

.service__text {
	opacity: 0.7;
}

.service__heading_manage::before {
	content: url('../images/service-1.png');
}

.service__heading_ux::before {
	content: url('../images/service-2.png');
}

.service__heading_brand::before {
	content: url('../images/service-3.png');
}

.service__heading_anim::before {
	content: url('../images/service-4.png');
}

/* Feature products */
.feature {
	padding-top: 94px;
	padding-bottom: 52px
}

.feature__header {
	width: 100%;
	text-align: center;
	margin-bottom: 67px;
}

.feature__heading {
	padding-left: 14px;
	margin-bottom: 16px;
}

.feature__text {
	max-width: 500px;
	margin: 0 auto 30px;
	opacity: 0.7;
}

.products__filter {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}

.products__link {
	position: relative;
    left: 45px;
	color: #000;
	margin-right: 55px;
	font-size: 22px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}

.products__link_active {
	color: #ff2d2d;
	opacity: 1;
}

.products__link:hover {
	color: #ff2d2d;
}

.products {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product {
	flex: 1 1 24%;
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 18px;
	object-fit: cover;
	/* Свйоство object-fit позволяет управлять размером изображений как фоновым, то есть независимо от границ самого элемента img. Это новое свойство и не работает в старых браузерах. */
}

/* Team */
.team {
	padding-top: 60px;
	padding-bottom: 110px;
}

.team__header {
	width: 100%;
	text-align: left;
	margin-bottom: 67px;
}

.team__heading {
	margin-bottom: 23px;
}

.team__text {
	max-width: 460px;
	margin-bottom: 30px;
}

.team__line {
	margin-left: 0;
}

.team__members {
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	min-height: 458px;
    align-content: space-between;
}

.team__selected {
	position: relative;
    display: flex;
    flex-direction: column;
	max-width: 642px;
	margin-left: calc(321px + 65px);
}

.selected-member__name {
	position: relative;
    bottom: 5px;
	font-size: 30px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 0.8;
	margin-bottom: 16px;
}

.selected-member__photo {
	position: absolute;
	transform: translateX(calc(-100% - 65px));
	width: 321px;
	height: 458px;
	margin-right: 65px;
	background-color: #eb6d4a8f;
}

.selected-member__link {
	color: #000;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: italic;
	text-decoration: none;
	margin-right: 30px;
} 

.selected-member__link:hover {
	text-decoration: underline;
}

.selected-member__info {
	margin-bottom: 34px;
}

.members {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: calc(321px + 65px);
}

.member {
	position: relative;
	margin-top: 18px;
	margin-right: 18px;
}

.member__name {
	display: flex;
    justify-content: center;
    align-items: center;
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
}

.member:hover > .member__name {
	visibility: visible;
}

.member__photo {
	display: block;
	width: 197px;
	height: 214px;
	background-color: #d4dce680;
}

/* Subscribe */
.subscribe {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	background-color: #2c2c2c;
	padding-top: 124px;
	padding-bottom: 140px;
}

.subscribe__header {
	max-width: 1249px;
	margin: 0 auto;
	text-align: center;
}

.subscribe__heading {
	color: #fff;
	opacity: 0.8;
	text-transform: none;
	margin-bottom: 30px;
}

.subscribe__text {
	color: #fff;
	opacity: 0.8;
	margin-bottom: 50px;
}

.subscribe__form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.subscribe__form .subscribe__input[type="email"] {
	box-sizing: border-box;
	flex: 0 1 521px;
	min-height: 79px;
	padding: 0;
	padding-left: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
}

.subscribe__form .subscribe__button[type="submit"] {
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	width: 214px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}

.get-in-touch__header {
	box-sizing: border-box;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
	width: 100%;
	padding-top: 92px;
}

.get-in-touch__heading {
	margin-bottom: 34px;
}

.get-in-touch__text {
	max-width: 720px;
	margin-bottom: 50px;
}

.get-in-touch__line {
	margin-left: 0;
	margin-bottom: 75px;
}

/* Feedback */
.get-in-touch__body {
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	/* padding-top: 92px; */
	padding-bottom: 110px;
	width: 100%;
    max-width: 100%;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
}

.get-in-touch__left-box {
	flex: 1 1 auto;
}

.get-in-touch__feedback {
	max-width: 731px;
	margin-right: 107px;
	padding-left: 40px;
}

.feedback__form {
	display: flex;
	flex-wrap: wrap;
}

.feedback__input {
	box-sizing: border-box;
	padding-left: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 45px;
}

/* Для инпутов можно было бы задать свои классы и использовать их, но здесь я хотел показать селектор атрибута и где он может быть использован. */
.feedback__input[name="name"],
.feedback__input[name="email"] {
	font-size: 16px;
	width: 339px;
	max-width: 339px;
	height: 69px;
}

.feedback__input[name="name"] {
	margin-right: 53px;
}

.feedback__input[name="message"] {
	resize: none;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	width: 731px;
	max-width: 731px;
	height: 249px;
	box-sizing: border-box;
	padding: 35px 54px;
	margin-bottom: 45px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
}

.feedback__button[type="submit"] {
	width: 731px;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
} 

/* Contacts */
.get-in-touch__contacts {
	position: relative;
	color: #e0e0e0;
	background-color: #2c2c2c;
	padding: 125px 78px;
	max-width: 290px;
}

.contacts__heading {
	color: #e0e0e0;
	font-size: 18px;
	margin-bottom: 13px;
}

.contacts-address {
	line-height: 1.75;
}

.contacts__line {
	margin-bottom: 17px;
}

.get-in-touch__right-box {
	flex: 1 1 auto;
}

.contacts__decor {
	background-color: #2c2c2c;
}

/* Ниже идут два предыдущих варианта создания этой декоративной части */
.contacts-background {
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 481px;
	background-color: #2c2c2c;
	clip-path: polygon(1000px 0, 100% 0, 100% 100%, 1000px 100%);
	/* Свойство clip-path позволяет наложить на элемент маску, которая может визуально скрыть части этого элемента. Макса может быть самой разной формы, в данном случае это прямоугольник. */
}

.contacts::after {
	/* content: ''; */
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	/* Свойство transform позволяет изменять внешний вид элементов. Значение translate сдвигает элемент по осям X, Y или по обеим сразу. Его особенность - проценты расчитываются не от размеров родителя, а от самого элемента. При этом такой сдвинутый элемент не участвует в потоке. */
	width: 100vw;
	height: 100%;
	background-color: #2c2c2c;
}
/* Второй способ сделать темную подложку - создать пустой псевдоэлемент, стилизовать его и тоже исопльзовать позиционирование. Этот подход лучше тем, что вам не нужно изменять HTML. Сейчас работает этот способ, поэтому элемент в HTML отключен. */

/* Footer */
.footer {
	background-color: #2c2c2c;
	padding: 0 1vw;
}

.footer__content {
	box-sizing: border-box;
	padding: 19px 0 0;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
	background-color: #2c2c2c;
}

.footer__social-links > .footer__link:not(:last-child) {
	margin-right: 18px;
}

/* Responsive */
@media screen and (max-width: 1286px) {
	.intro {
		flex-wrap: nowrap;
	}
	.intro__content {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	.intro__heading {
		font-size: 5vw;
	}
	.intro__image-link {
		width: 50%;
	}
	.intro__image {
		width: 100%;
		height: auto;
	}
	.products {
		justify-content: flex-start;
	}
	.product {
		max-width: 100%;
		margin-right: 1vw;
	}
	.get-in-touch__body {
		flex-wrap: wrap;
		padding-left: initial;
		padding-right: initial;
		padding-bottom: 0;
	}
	.get-in-touch__left-box {
		flex: 0 1 auto;
	}
	.feedback {
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 1vw;
	}
	.contacts {
		width: 100%;
		max-width: 100%;
	}
	.contacts-background {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.selected-member {
		position: initial;
	}
	.products__item {
		width: 100%;
		text-align: center;
	}
	.services {
		justify-content: center;
	}
}

@media screen and (max-width: 907px) {
	.services-lead,
	.services__blocks {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 855px) {
	.selected-member {
		margin-left: 0;
		margin-bottom: 1.5rem;
	}
	.selected-member__photo {
		position: initial;
		margin-right: 0;
		transform: initial;
		margin-bottom: 1rem;
	}
	.members {
		margin-left: 0;
	}
} 

@media screen and (max-width: 800px) {
	.services-lead {
		width: 100%;
		max-width: 100%;
	}
	.services__blocks {
		width: 100%;
		max-width: 100%;
	}
	.contacts {
		padding: 1vw;
	}
}

@media screen and (max-width: 760px) {
	.feedback__input[name="name"],
	.feedback__input[name="email"],
	.feedback__input[name="message"],
	.feedback__button[type="submit"] {
		width: 100%;
		max-width: 100%;
	}
	.feedback__input[name="name"] {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	.header {
		padding-left: 20px;
	}
	.intro {
		flex-wrap: wrap;
	}
	.intro__content {
		width: 100%;
	}
	.intro__image-link {
		width: 100%;
	}
	.intro__image {
		width: 100%;
		height: auto;
	}
	.intro__heading {
		font-size: 50px;
	}
}

@media screen and (max-width: 400px) {
	.subscribe__form {
		flex-wrap: wrap;
	}
}

